// Essential javascripts for application to work
script(src='bower_components/jquery/dist/jquery.js')
script(src='bower_components/popper.js/dist/popper.js')
script(src='bower_components/bootstrap/dist/js/bootstrap.js')
script(src='js/main.js')

// The javascript plugin to display page loading on top
script(src='js/plugins/pace.min.js')
